html,body{height:100%;overflow: hidden;}
.box {height:100%;width:100%;position:relative;} 
.box-ul{height:100%;position:relative;z-index:1;}
li{height: 100%;width: 100%;position: relative;}
li>img{height:100%;width: 100%;}
.login{width: 540px;height: 288px;position:absolute;left:50%;top:50%;
	margin-left:-270px;margin-top:-144px;z-index:2;
	background: url(../img/opacity.png) no-repeat;}
.login-left{width:216px;height:288px;float:left;}
.login-right{width:324px;height: 288px;float:left;}
.user_img{margin:85px 0 0 88px;}
.logo{margin:57px 0 10px 60px;}
.same{width:216px;height:22px;margin-bottom: 10px;}
.same>p{line-height:22px;display: block;float: left;}
.input_1{width:161px;height:22px;}
.input_2{width:161px;height:22px;}
.input_3{width:69px;height:22px;}
.code{display:inline-block;float: right;margin-right: 1px;}
.butt{width:74px;height: 22px;background: url(../img/icon.png) -14px -103px;margin-left: 100px;}
.foot{width:100%;height: 40px;background: #545454;position:relative;z-index:1;position:fixed; bottom:0; }
.foot>p{color:#dfecee;line-height: 40px;text-align: center;}
.show{display:block;}